@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }



@media screen and (max-width: 760px) {
  
  header{
    flex-direction: column;

  }

  main{
    flex-direction: column;
  }

  h2{
    font-size: 38px;
  }

  img{
    display: none;
  }

  ul{
    text-align: center;
  }
}

